.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  border-bottom: 2px solid #eee;
  font-family: Arial, sans-serif;
}

.logo img {
  height: 50px;
  width: auto;
}

.menu {
  display: flex;
  gap: 20px; 
           
}

.menu a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
}

.menu a:hover {
  color: black;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

.dropdown {
  position: relative;
}

.drop-btn {
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  background: white;
  min-width: 160px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.dropdown-content a {
  color: #1e293b;
  padding: 10px 15px;
  display: block;
}

.dropdown-content a:hover {
  background: #f1f5f9;
}

/* Show submenu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.account {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(224, 2, 2);
}
/* .account:hover{

} */
.account a{
    color: black;
    text-decoration: none;
    font-size: 15px;
  font-weight: 700;
}
