.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  border-bottom: 2px solid #eee;
  font-family: Arial, sans-serif;
}

.logo img {
  height: 50px;
  width: auto;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
}

.menu a:hover {
  color: black;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

.account {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(224, 2, 2);
}
/* .account:hover{

} */
.account a{
    color: black;
    text-decoration: none;
    font-size: 15px;
  font-weight: 700;
}
