.title {
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
}

.connection-container {
  display: flex;
  justify-content: center;
  gap: 15%;
  flex-wrap: wrap;
}

.connection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #e8ebff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon {
  font-size: 26px;
}

.connection-item p {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}
