<div class="banner-container">
  <div class="content-section">
  <h1>{{ slides[currentIndex].title }}</h1>
  <p>{{ slides[currentIndex].desc }}</p>

  <button class="know-more-btn">KNOW MORE</button>

  <div class="pagination">
    <button class="nav-btn" (click)="prevSlide()">←</button>
    <span>{{ currentIndex + 1 }}/{{ slides.length }}</span>
    <button class="nav-btn active" (click)="nextSlide()">→</button>
  </div>
</div>

<div class="image-section"
     [ngStyle]="{'background-image': 'url(' + slides[currentIndex].image + ')'}">
</div>


</div>
<app-buy-connection></app-buy-connection>
<app-recommended></app-recommended>