<h2>Registration Form</h2>

<form (ngSubmit)="register()">

  <label>First Name:</label><br>
  <input type="text" [(ngModel)]="firstname" name="firstname"><br><br>

  <label>Last Name:</label><br>
  <input type="text" [(ngModel)]="lastname" name="lastname"><br><br>

  <label>Email:</label><br>
  <input type="text" [(ngModel)]="email" name="email"><br><br>

  <label>Phone Number:</label><br>
  <input type="text" [(ngModel)]="phone" name="phone"><br><br>

  <button type="submit">Register</button>

</form>
